<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="helloWorldBean" class = "org.hypernovae.apis.beans.hello.HelloWorld">
		<property name="name" value="Alain Lompo" />
	</bean>
	
<!-- 	Dependency injection through the setter of a property -->
	<bean id="taxService" class="org.hypernovae.apis.beans.taxes.TaxService">
		<property name="taxCalculator">
			<ref bean="ITVATTaxCalculator" />
		</property> 
	</bean>
	
<!-- 	Dependency injection via the constructor -->
	<bean id="hashPPC" class="org.hypernovae.apis.beans.pcs.PC" >
		<constructor-arg>
			<bean class="org.hypernovae.apis.beans.pcs.Fehdohra11" />
		</constructor-arg>
	</bean>
	
	<bean id="fehdohra11OS" class="org.hypernovae.apis.beans.pcs.Fehdohra11" />
	<bean id="wineDozOS" class="org.hypernovae.apis.beans.pcs.WineDoz" />
	<bean id="ITVATTaxCalculator" class="org.hypernovae.apis.beans.taxes.ITVATTaxCalculator" />
	<bean id="MilkVATTaxCalculator" class="org.hypernovae.apis.beans.taxes.MilkVATTaxCalculator" />
</beans>