<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="helloWorldBean" class = "org.hypernovae.apis.beans.hello.HelloWorld">
		<property name="name" value="Alain Lompo" />
	</bean>
	
	<bean id="taxService" class="org.hypernovae.apis.beans.taxes.TaxService">
		<property name="taxCalculator">
			<ref bean="ITVATTaxCalculator" />
		</property> 
	</bean>
	
	<bean id="ITVATTaxCalculator" class="org.hypernovae.apis.beans.taxes.ITVATTaxCalculator" />
	<bean id="MilkVATTaxCalculator" class="org.hypernovae.apis.beans.taxes.MilkVATTaxCalculator" />
</beans>